USE [master]
GO
/****** Object:  Database [DIP]    Script Date: 9/16/2026 6:22:33 PM ******/
CREATE DATABASE [DIP]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DIP', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\DIP.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DIP_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\DIP_log.ldf' , SIZE = 139264KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DIP].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DIP]
GO
/****** Object:  User [rsa]    Script Date: 9/16/2026 6:22:34 PM ******/
CREATE USER [rsa] FOR LOGIN [rsa] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [rsa]
GO
/****** Object:  Table [dbo].[TClientCOACompanyMapping]    Script Date: 9/16/2026 6:22:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TClientCOACompanyMapping](
	[ClientCOACompanyMappingID] [int] IDENTITY(1,1) NOT NULL,
	[ClientCOAMappingID] [int] NOT NULL,
	[CompanyId] [int] NOT NULL,
	[CreatedBy] [varchar](50) NULL,
	[CreatedOn] [datetime2](7) NULL,
	[ModifiedBy] [varchar](50) NULL,
	[ModifiedOn] [datetime2](7) NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ClientCOACompanyMappingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TClientCOAMapping]    Script Date: 9/16/2026 6:22:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TClientCOAMapping](
	[ClientCOAMappingID] [int] IDENTITY(1,1) NOT NULL,
	[COAID] [int] NOT NULL,
	[ClientID] [int] NOT NULL,
	[CreatedBy] [varchar](50) NULL,
	[CreatedOn] [datetime2](7) NULL,
	[ModifiedBy] [varchar](50) NULL,
	[ModifiedOn] [datetime2](7) NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ClientCOAMappingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TClientMaster]    Script Date: 9/16/2026 6:22:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TClientMaster](
	[ClientId] [int] IDENTITY(1,1) NOT NULL,
	[ClientUniqueId] [uniqueidentifier] NOT NULL,
	[ContactPerson] [varchar](250) NULL,
	[ClientName] [varchar](100) NOT NULL,
	[CompanyName] [varchar](250) NULL,
	[EmailId] [varchar](250) NOT NULL,
	[ClientAddress] [varchar](1000) NOT NULL,
	[CountryId] [int] NOT NULL,
	[CityId] [int] NOT NULL,
	[ZipCode] [varchar](10) NOT NULL,
	[ContactNo] [varchar](20) NOT NULL,
	[NoOfNodes] [int] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedOn] [datetime2](7) NOT NULL,
	[ModifiedBy] [int] NULL,
	[ModifiedOn] [datetime2](7) NULL,
	[Isactive] [int] NOT NULL,
	[Isdeactivatebyadmin] [int] NOT NULL,
	[DeactivatebyadminBy] [int] NULL,
	[IsnotificationSubscribed] [int] NOT NULL,
	[UnsubscribedDate] [datetime2](7) NULL,
	[AuthenticationTypeId] [int] NOT NULL,
 CONSTRAINT [PK_TClientMaster] PRIMARY KEY CLUSTERED 
(
	[ClientId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TClientUserPrivilege]    Script Date: 9/16/2026 6:22:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TClientUserPrivilege](
	[PrivilegeId] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [int] NOT NULL,
	[LoginId] [int] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedOn] [datetime2](7) NOT NULL,
	[ModifiedBy] [int] NULL,
	[ModifiedOn] [datetime2](7) NULL,
	[Isactive] [int] NOT NULL,
	[StartDate] [datetime2](7) NULL,
	[EndDate] [datetime2](7) NULL,
 CONSTRAINT [PK_TClientUserPrivilege] PRIMARY KEY CLUSTERED 
(
	[PrivilegeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TCOAMaster]    Script Date: 9/16/2026 6:22:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TCOAMaster](
	[COAID] [int] IDENTITY(1,1) NOT NULL,
	[Coaname] [varchar](50) NOT NULL,
	[SegmentId] [int] NOT NULL,
	[IsMatric] [bit] NOT NULL,
	[CreatedBy] [varchar](50) NULL,
	[CreatedOn] [datetime2](7) NULL,
	[ModifiedBy] [varchar](50) NULL,
	[ModifiedOn] [datetime2](7) NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[COAID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TCompanyMaster]    Script Date: 9/16/2026 6:22:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TCompanyMaster](
	[CompanyId] [int] IDENTITY(1,1) NOT NULL,
	[IssuerName] [varchar](250) NOT NULL,
	[State] [char](2) NULL,
	[Sector] [varchar](50) NULL,
	[SubSector] [varchar](50) NULL,
	[CreatedBy] [varchar](50) NOT NULL,
	[CreatedOn] [datetime2](7) NOT NULL,
	[ModifiedBy] [varchar](50) NULL,
	[ModifiedOn] [datetime2](7) NULL,
	[IsActive] [bit] NOT NULL,
	[UEI] [varchar](20) NULL,
	[EIN] [varchar](15) NULL,
	[OfficialWebsite] [nvarchar](500) NULL,
 CONSTRAINT [PK__TCompany__2D971CAC40B57700] PRIMARY KEY CLUSTERED 
(
	[CompanyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TFileType]    Script Date: 9/16/2026 6:22:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TFileType](
	[FileTypeId] [int] IDENTITY(1,1) NOT NULL,
	[FileType] [varchar](100) NOT NULL,
	[Tag] [varchar](50) NULL,
	[CreatedBy] [varchar](50) NOT NULL,
	[CreatedOn] [datetime2](7) NOT NULL,
	[ModifiedBy] [varchar](50) NULL,
	[ModifiedOn] [datetime2](7) NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[FileTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TJob]    Script Date: 9/16/2026 6:22:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TJob](
	[JobId] [int] IDENTITY(1,1) NOT NULL,
	[ModuleId] [int] NOT NULL,
	[JobStartDate] [datetime2](7) NULL,
	[JobEndDate] [datetime2](7) NULL,
	[JobStatus] [bit] NULL,
	[JobFlag] [char](1) NULL,
	[CreatedBy] [varchar](50) NOT NULL,
	[CreatedOn] [datetime2](7) NOT NULL,
	[ModifiedBy] [varchar](50) NULL,
	[ModifiedOn] [datetime2](7) NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[JobId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TLoginMaster]    Script Date: 9/16/2026 6:22:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TLoginMaster](
	[LoginId] [int] IDENTITY(1,1) NOT NULL,
	[EmailId] [varchar](250) NOT NULL,
	[LoginPassword] [varchar](250) NOT NULL,
	[LoginUniqueId] [uniqueidentifier] NOT NULL,
	[ClientId] [int] NOT NULL,
	[FirstName] [varchar](500) NOT NULL,
	[LastName] [varchar](500) NOT NULL,
	[IsIalUser] [int] NOT NULL,
	[LastLoginDate] [datetime2](7) NULL,
	[PasswordChangedDate] [datetime2](7) NOT NULL,
	[WrongAttmeptCount] [int] NOT NULL,
	[Comment] [varchar](250) NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedOn] [datetime2](7) NOT NULL,
	[ModifiedBy] [int] NULL,
	[ModifiedOn] [datetime2](7) NULL,
	[Isadmin] [int] NOT NULL,
	[Isactive] [int] NOT NULL,
	[LastLockedOutDate] [datetime2](7) NULL,
	[Islockedout] [int] NOT NULL,
	[Isonline] [int] NULL,
	[Isdeactivatebyadmin] [int] NOT NULL,
	[DeactivatebyadminBy] [int] NULL,
	[ConcurrentLoginRequired] [int] NOT NULL,
	[Istermaccepted] [int] NULL,
	[LoginType] [int] NOT NULL,
 CONSTRAINT [PK_TLoginMaster] PRIMARY KEY CLUSTERED 
(
	[LoginId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TMenuMaster]    Script Date: 9/16/2026 6:22:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TMenuMaster](
	[MenuId] [int] IDENTITY(1,1) NOT NULL,
	[ModuleId] [int] NOT NULL,
	[MenuName] [varchar](150) NOT NULL,
	[MenuParent] [int] NULL,
	[ActionData] [nvarchar](150) NOT NULL,
	[ActionRef] [nvarchar](150) NOT NULL,
	[IconClass] [nvarchar](150) NOT NULL,
	[Ordinal] [decimal](6, 2) NULL,
	[Isactive] [int] NOT NULL,
	[IsVisible] [int] NOT NULL,
	[Description] [nvarchar](500) NOT NULL,
	[MenuImg] [nvarchar](50) NOT NULL,
	[MenuTag] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_TMenuMaster] PRIMARY KEY CLUSTERED 
(
	[MenuId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TModuleMaster]    Script Date: 9/16/2026 6:22:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TModuleMaster](
	[ModuleId] [int] IDENTITY(1,1) NOT NULL,
	[ModuleName] [varchar](100) NOT NULL,
	[Sourcing] [bit] NOT NULL,
	[SourcingValidation] [bit] NOT NULL,
	[Extraction] [bit] NOT NULL,
	[ExtractionValidation] [bit] NOT NULL,
	[NumberOfThread] [int] NOT NULL,
	[CreatedBy] [varchar](50) NOT NULL,
	[CreatedOn] [datetime2](7) NOT NULL,
	[ModifiedBy] [varchar](50) NULL,
	[ModifiedOn] [datetime2](7) NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ModuleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TProcessingAdditionalInfo]    Script Date: 9/16/2026 6:22:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TProcessingAdditionalInfo](
	[AdditionalInfoId] [bigint] IDENTITY(1,1) NOT NULL,
	[ID] [bigint] NOT NULL,
	[AuditorsSignatureDate] [datetime2](3) NULL,
	[EntityCity] [nvarchar](100) NULL,
	[EntityState] [nvarchar](100) NULL,
	[EntityContactName] [nvarchar](200) NULL,
	[EntityContactTitle] [nvarchar](100) NULL,
	[EntityContactPhone] [nvarchar](30) NULL,
	[EntityContactEmail] [nvarchar](256) NULL,
	[AuditorFirmName] [nvarchar](200) NULL,
	[AuditorName] [nvarchar](200) NULL,
	[AuditorContactPhone] [nvarchar](30) NULL,
	[AuditorContactEmail] [nvarchar](256) NULL,
	[CreatedBy] [nvarchar](100) NOT NULL,
	[CreatedOn] [datetime2](3) NOT NULL,
	[ModifiedBy] [nvarchar](100) NULL,
	[ModifiedOn] [datetime2](3) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_TProcessingAdditionalInfo] PRIMARY KEY CLUSTERED 
(
	[AdditionalInfoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TProcessStatus]    Script Date: 9/16/2026 6:22:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TProcessStatus](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[ProcessingId] [bigint] NOT NULL,
	[COAID] [bigint] NULL,
	[CompanyId] [bigint] NOT NULL,
	[FileTypeId] [int] NULL,
	[ProcessYear] [int] NULL,
	[ProcessingCode] [uniqueidentifier] NULL,
	[SourcingStatus] [bit] NULL,
	[SourcingFlag] [char](1) NULL,
	[SourcingValidationStatus] [bit] NULL,
	[SourcingValidationFlag] [char](1) NULL,
	[ExtractionStatus] [bit] NULL,
	[ExtractionFlag] [char](1) NULL,
	[DataValidationStatus] [bit] NULL,
	[DataValidationFlag] [char](1) NULL,
	[CompletionStatus] [bit] NULL,
	[pdf_download_link] [nvarchar](1000) NULL,
	[PdfFilePath] [varchar](500) NULL,
	[OutputPath] [varchar](500) NULL,
	[FyeDate] [date] NULL,
	[ReleaseDate] [date] NULL,
	[DownloadDate] [date] NULL,
	[CreatedBy] [varchar](50) NOT NULL,
	[CreatedOn] [datetime2](3) NOT NULL,
	[ModifiedBy] [varchar](50) NULL,
	[ModifiedOn] [datetime2](3) NULL,
	[IsActive] [bit] NOT NULL,
	[Remarks] [varchar](500) NULL,
	[XBRLDownloadLink] [varchar](1000) NULL,
	[PreviousFYEDate] [date] NULL,
	[OldReportLink] [nvarchar](1000) NULL,
	[OldReportLanguage] [nvarchar](50) NULL,
 CONSTRAINT [PK_TProcessStatus] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRoleMaster]    Script Date: 9/16/2026 6:22:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRoleMaster](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [varchar](150) NOT NULL,
	[ClientId] [int] NULL,
	[Isadminrole] [int] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedOn] [datetime2](7) NOT NULL,
	[ModifiedBy] [int] NULL,
	[ModifiedOn] [datetime2](7) NULL,
	[Isactive] [int] NOT NULL,
	[Roletag] [varchar](5) NOT NULL,
 CONSTRAINT [PK_TRoleMaster] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRoleMenuMapping]    Script Date: 9/16/2026 6:22:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRoleMenuMapping](
	[RmMappingId] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [int] NOT NULL,
	[MenuId] [int] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedOn] [datetime2](7) NOT NULL,
	[ModifiedBy] [int] NULL,
	[ModifiedOn] [datetime2](7) NULL,
	[Isactive] [int] NOT NULL,
 CONSTRAINT [PK_TRoleMenuMapping] PRIMARY KEY CLUSTERED 
(
	[RmMappingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TSegmentFileTypeMapping]    Script Date: 9/16/2026 6:22:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TSegmentFileTypeMapping](
	[SegmentFileTypeMappingId] [int] IDENTITY(1,1) NOT NULL,
	[SegmentId] [int] NOT NULL,
	[FileTypeId] [int] NOT NULL,
	[SequenceOrder] [int] NOT NULL,
	[CreatedBy] [varchar](50) NULL,
	[CreatedOn] [datetime2](7) NULL,
	[ModifiedBy] [varchar](50) NULL,
	[ModifiedOn] [datetime2](7) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_TSegmentFileTypeMapping] PRIMARY KEY CLUSTERED 
(
	[SegmentFileTypeMappingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TSegmentMaster]    Script Date: 9/16/2026 6:22:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TSegmentMaster](
	[SegmentId] [int] IDENTITY(1,1) NOT NULL,
	[SegmentName] [varchar](50) NOT NULL,
	[ModuleId] [int] NOT NULL,
	[CreatedBy] [varchar](50) NULL,
	[CreatedOn] [datetime2](7) NULL,
	[ModifiedBy] [varchar](50) NULL,
	[ModifiedOn] [datetime2](7) NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SegmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TClientCOACompanyMapping] ON 

INSERT [dbo].[TClientCOACompanyMapping] ([ClientCOACompanyMappingID], [ClientCOAMappingID], [CompanyId], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn], [IsActive]) VALUES (37, 1, 3, N'DEMO DEMO', CAST(N'2026-07-17T11:19:08.0708285' AS DateTime2), NULL, NULL, 1)
INSERT [dbo].[TClientCOACompanyMapping] ([ClientCOACompanyMappingID], [ClientCOAMappingID], [CompanyId], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn], [IsActive]) VALUES (39, 1, 8, N'DEMO DEMO', CAST(N'2026-07-17T11:19:12.0813218' AS DateTime2), NULL, NULL, 1)
INSERT [dbo].[TClientCOACompanyMapping] ([ClientCOACompanyMappingID], [ClientCOAMappingID], [CompanyId], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn], [IsActive]) VALUES (41, 1, 9, N'DEMO DEMO', CAST(N'2026-07-17T11:19:15.1175047' AS DateTime2), NULL, NULL, 1)
GO
SET IDENTITY_INSERT [dbo].[TClientCOACompanyMapping] OFF
GO
SET IDENTITY_INSERT [dbo].[TClientCOAMapping] ON 

INSERT [dbo].[TClientCOAMapping] ([ClientCOAMappingID], [COAID], [ClientID], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn], [IsActive]) VALUES (1, 1, 1, N'seed-test', CAST(N'2026-07-16T12:24:52.2793747' AS DateTime2), NULL, NULL, 1)
INSERT [dbo].[TClientCOAMapping] ([ClientCOAMappingID], [COAID], [ClientID], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn], [IsActive]) VALUES (3, 3, 1, N'seed-test', CAST(N'2026-07-21T15:19:27.4613281' AS DateTime2), NULL, NULL, 1)
INSERT [dbo].[TClientCOAMapping] ([ClientCOAMappingID], [COAID], [ClientID], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn], [IsActive]) VALUES (4, 4, 1, N'JM', CAST(N'2026-07-25T19:13:39.7966667' AS DateTime2), NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[TClientCOAMapping] OFF
GO
SET IDENTITY_INSERT [dbo].[TClientMaster] ON 

SET IDENTITY_INSERT [dbo].[TClientMaster] OFF
GO
SET IDENTITY_INSERT [dbo].[TClientUserPrivilege] ON 

INSERT [dbo].[TClientUserPrivilege] ([PrivilegeId], [RoleId], [LoginId], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn], [Isactive], [StartDate], [EndDate]) VALUES (1, 1, 2, 1, CAST(N'2024-07-01T19:18:26.6600000' AS DateTime2), 1, CAST(N'2024-07-01T19:18:26.6600000' AS DateTime2), 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[TClientUserPrivilege] OFF
GO
SET IDENTITY_INSERT [dbo].[TCOAMaster] ON 

INSERT [dbo].[TCOAMaster] ([COAID], [Coaname], [SegmentId], [IsMatric], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn], [IsActive]) VALUES (1, N'PFG-COA-A', 1, 0, N'seed-test', CAST(N'2026-07-16T12:24:52.2793747' AS DateTime2), NULL, NULL, 1)
INSERT [dbo].[TCOAMaster] ([COAID], [Coaname], [SegmentId], [IsMatric], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn], [IsActive]) VALUES (2, N'PFG-COA-B', 1, 0, N'seed-test', CAST(N'2026-07-16T12:24:52.2793747' AS DateTime2), NULL, NULL, 1)
INSERT [dbo].[TCOAMaster] ([COAID], [Coaname], [SegmentId], [IsMatric], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn], [IsActive]) VALUES (3, N'BRSR_COA-A', 3, 1, N'seed-test', CAST(N'2026-07-21T10:56:39.5533312' AS DateTime2), NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[TCOAMaster] OFF
GO
SET IDENTITY_INSERT [dbo].[TCompanyMaster] ON 

INSERT [dbo].[TCompanyMaster] ([CompanyId], [IssuerName], [State], [Sector], [SubSector], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn], [IsActive], [UEI], [EIN], [OfficialWebsite]) VALUES (3, N'CITY OF MOUNTAIN VIEW', N'CA', N'LG', N'CIT', N'sbusr1', CAST(N'2026-06-10T11:02:02.4633333' AS DateTime2), N'sbusr1', CAST(N'2026-06-10T11:02:02.4633333' AS DateTime2), 1, N'JJZLKAS3G111', N'946000379', NULL)
INSERT [dbo].[TCompanyMaster] ([CompanyId], [IssuerName], [State], [Sector], [SubSector], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn], [IsActive], [UEI], [EIN], [OfficialWebsite]) VALUES (8, N'PINELLAS COUNTY', N'FL', N'LG', N'CNT', N'DEMO DEMO', CAST(N'2026-06-16T12:15:17.2049090' AS DateTime2), NULL, NULL, 1, N'R37RMC63XKG1', N'596000800', NULL)
INSERT [dbo].[TCompanyMaster] ([CompanyId], [IssuerName], [State], [Sector], [SubSector], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn], [IsActive], [UEI], [EIN], [OfficialWebsite]) VALUES (9, N'CHEROKEE COUNTY', N'NC', N'LG', N'CNT', N'DEMO DEMO', CAST(N'2026-06-16T12:15:18.1625539' AS DateTime2), NULL, NULL, 1, N'DCEGK6HA11M5', N'566000285', NULL)
GO
SET IDENTITY_INSERT [dbo].[TCompanyMaster] OFF
GO
SET IDENTITY_INSERT [dbo].[TFileType] ON 

INSERT [dbo].[TFileType] ([FileTypeId], [FileType], [Tag], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn], [IsActive]) VALUES (1, N'Annual Report', N'AR', N'sbusr1', CAST(N'2026-06-12T17:21:42.4566667' AS DateTime2), NULL, NULL, 1)
INSERT [dbo].[TFileType] ([FileTypeId], [FileType], [Tag], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn], [IsActive]) VALUES (2, N'Sustainability Report', N'SR', N'sbusr1', CAST(N'2026-06-12T17:21:42.4600000' AS DateTime2), NULL, NULL, 1)
INSERT [dbo].[TFileType] ([FileTypeId], [FileType], [Tag], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn], [IsActive]) VALUES (3, N'FAC', N'FAC', N'sbusr1', CAST(N'2026-06-12T17:21:42.4600000' AS DateTime2), NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[TFileType] OFF
GO
SET IDENTITY_INSERT [dbo].[TJob] ON 

INSERT [dbo].[TJob] ([JobId], [ModuleId], [JobStartDate], [JobEndDate], [JobStatus], [JobFlag], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn], [IsActive]) VALUES (115, 1, CAST(N'2026-09-09T12:03:07.8909218' AS DateTime2), NULL, NULL, N'p', N'DEMO DEMO', CAST(N'2026-09-09T12:03:07.8909630' AS DateTime2), NULL, NULL, 1)
INSERT [dbo].[TJob] ([JobId], [ModuleId], [JobStartDate], [JobEndDate], [JobStatus], [JobFlag], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn], [IsActive]) VALUES (116, 2, CAST(N'2026-09-09T12:03:08.1505456' AS DateTime2), NULL, NULL, N'p', N'DEMO DEMO', CAST(N'2026-09-09T12:03:08.1505460' AS DateTime2), NULL, NULL, 1)
INSERT [dbo].[TJob] ([JobId], [ModuleId], [JobStartDate], [JobEndDate], [JobStatus], [JobFlag], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn], [IsActive]) VALUES (117, 1, CAST(N'2026-09-09T12:37:59.1108331' AS DateTime2), NULL, NULL, N'p', N'DEMO DEMO', CAST(N'2026-09-09T12:37:59.1108337' AS DateTime2), NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[TJob] OFF
GO
SET IDENTITY_INSERT [dbo].[TLoginMaster] ON 

SET IDENTITY_INSERT [dbo].[TLoginMaster] OFF
GO
SET IDENTITY_INSERT [dbo].[TMenuMaster] ON 

INSERT [dbo].[TMenuMaster] ([MenuId], [ModuleId], [MenuName], [MenuParent], [ActionData], [ActionRef], [IconClass], [Ordinal], [Isactive], [IsVisible], [Description], [MenuImg], [MenuTag]) VALUES (1, 1, N'PFG', 5, N'/home/fileupload', N'/modules/pfg', N'bi-database', CAST(1.00 AS Decimal(6, 2)), 1, 1, N'qwe', N'Trade-File-Uploader.svg', N'PFG')
INSERT [dbo].[TMenuMaster] ([MenuId], [ModuleId], [MenuName], [MenuParent], [ActionData], [ActionRef], [IconClass], [Ordinal], [Isactive], [IsVisible], [Description], [MenuImg], [MenuTag]) VALUES (2, 1, N'View Roles', 6, N'/home/report', N'/roles/view', N'bi-eye', CAST(1.00 AS Decimal(6, 2)), 1, 1, N'qwe', N'Trade-Report.svg', N'ViewRoles')
INSERT [dbo].[TMenuMaster] ([MenuId], [ModuleId], [MenuName], [MenuParent], [ActionData], [ActionRef], [IconClass], [Ordinal], [Isactive], [IsVisible], [Description], [MenuImg], [MenuTag]) VALUES (3, 1, N'Carbon 4 Finance', 5, N'/home/marketcapuploader', N'/modules/carbon', N'bi-globe2', CAST(2.00 AS Decimal(6, 2)), 1, 1, N'qwe', N'Market-Data-Uploader.svg', N'Carbon')
SET IDENTITY_INSERT [dbo].[TMenuMaster] OFF
GO
SET IDENTITY_INSERT [dbo].[TModuleMaster] ON 

INSERT [dbo].[TModuleMaster] ([ModuleId], [ModuleName], [Sourcing], [SourcingValidation], [Extraction], [ExtractionValidation], [NumberOfThread], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn], [IsActive]) VALUES (1, N'GridPrism', 1, 1, 1, 1, 4, N'sbusr1', CAST(N'2026-06-10T11:01:57.2666667' AS DateTime2), N'DEMO DEMO', CAST(N'2026-09-12T18:12:59.3076831' AS DateTime2), 1)
INSERT [dbo].[TModuleMaster] ([ModuleId], [ModuleName], [Sourcing], [SourcingValidation], [Extraction], [ExtractionValidation], [NumberOfThread], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn], [IsActive]) VALUES (2, N'TextPrism', 1, 1, 1, 1, 2, N'2', CAST(N'2026-06-17T09:47:34.9176898' AS DateTime2), N'DEMO DEMO', CAST(N'2026-08-19T07:27:21.1509972' AS DateTime2), 1)
SET IDENTITY_INSERT [dbo].[TModuleMaster] OFF
GO
SET IDENTITY_INSERT [dbo].[TProcessingAdditionalInfo] ON 

INSERT [dbo].[TProcessingAdditionalInfo] ([AdditionalInfoId], [ID], [AuditorsSignatureDate], [EntityCity], [EntityState], [EntityContactName], [EntityContactTitle], [EntityContactPhone], [EntityContactEmail], [AuditorFirmName], [AuditorName], [AuditorContactPhone], [AuditorContactEmail], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn], [IsActive]) VALUES (238, 267, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, N'DEMO DEMO', CAST(N'2026-09-09T12:03:08.1600000' AS DateTime2), NULL, NULL, 1)
GO
SET IDENTITY_INSERT [dbo].[TProcessingAdditionalInfo] OFF
GO
SET IDENTITY_INSERT [dbo].[TProcessStatus] ON 

GO
SET IDENTITY_INSERT [dbo].[TProcessStatus] OFF
GO
SET IDENTITY_INSERT [dbo].[TRoleMaster] ON 

INSERT [dbo].[TRoleMaster] ([RoleId], [RoleName], [ClientId], [Isadminrole], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn], [Isactive], [Roletag]) VALUES (1, N'Super Admin', 1, 0, 1, CAST(N'2024-07-01T19:15:01.1333333' AS DateTime2), NULL, NULL, 1, N'SA')
INSERT [dbo].[TRoleMaster] ([RoleId], [RoleName], [ClientId], [Isadminrole], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn], [Isactive], [Roletag]) VALUES (2, N'Client Admin', 1, 1, 1, CAST(N'2024-07-01T19:15:01.1333333' AS DateTime2), NULL, NULL, 1, N'CA')
INSERT [dbo].[TRoleMaster] ([RoleId], [RoleName], [ClientId], [Isadminrole], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn], [Isactive], [Roletag]) VALUES (3, N'Basic', 1, 0, 1, CAST(N'2024-07-01T19:15:01.1333333' AS DateTime2), 1, NULL, 0, N'BA')
SET IDENTITY_INSERT [dbo].[TRoleMaster] OFF
GO
SET IDENTITY_INSERT [dbo].[TRoleMenuMapping] ON 

INSERT [dbo].[TRoleMenuMapping] ([RmMappingId], [RoleId], [MenuId], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn], [Isactive]) VALUES (1, 1, 1, 1, CAST(N'2024-10-18T13:06:49.9433333' AS DateTime2), NULL, NULL, 0)
INSERT [dbo].[TRoleMenuMapping] ([RmMappingId], [RoleId], [MenuId], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn], [Isactive]) VALUES (2, 1, 2, 1, CAST(N'2024-10-18T13:06:49.9466667' AS DateTime2), NULL, NULL, 0)
INSERT [dbo].[TRoleMenuMapping] ([RmMappingId], [RoleId], [MenuId], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn], [Isactive]) VALUES (3, 1, 3, 1, CAST(N'2024-10-20T17:35:54.6833333' AS DateTime2), NULL, NULL, 0)
SET IDENTITY_INSERT [dbo].[TRoleMenuMapping] OFF
GO
SET IDENTITY_INSERT [dbo].[TSegmentFileTypeMapping] ON 

INSERT [dbo].[TSegmentFileTypeMapping] ([SegmentFileTypeMappingId], [SegmentId], [FileTypeId], [SequenceOrder], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn], [IsActive]) VALUES (1, 1, 1, 1, N'seed-test', CAST(N'2026-07-16T12:24:52.2793747' AS DateTime2), NULL, NULL, 1)
INSERT [dbo].[TSegmentFileTypeMapping] ([SegmentFileTypeMappingId], [SegmentId], [FileTypeId], [SequenceOrder], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn], [IsActive]) VALUES (2, 3, 2, 1, N'seed-test', CAST(N'2026-07-16T12:24:52.2793747' AS DateTime2), NULL, NULL, 1)
INSERT [dbo].[TSegmentFileTypeMapping] ([SegmentFileTypeMappingId], [SegmentId], [FileTypeId], [SequenceOrder], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn], [IsActive]) VALUES (6, 4, 1, 1, N'JM', CAST(N'2026-07-25T15:26:17.4966667' AS DateTime2), NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[TSegmentFileTypeMapping] OFF
GO
SET IDENTITY_INSERT [dbo].[TSegmentMaster] ON 

INSERT [dbo].[TSegmentMaster] ([SegmentId], [SegmentName], [ModuleId], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn], [IsActive]) VALUES (1, N'LG', 1, N'seed-test', CAST(N'2026-07-16T12:24:52.2793747' AS DateTime2), NULL, NULL, 1)
INSERT [dbo].[TSegmentMaster] ([SegmentId], [SegmentName], [ModuleId], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn], [IsActive]) VALUES (2, N'Non-LG', 1, N'Test', CAST(N'2026-07-16T12:24:52.2793747' AS DateTime2), NULL, NULL, 1)
INSERT [dbo].[TSegmentMaster] ([SegmentId], [SegmentName], [ModuleId], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn], [IsActive]) VALUES (3, N'Indian', 2, N'Test', CAST(N'2026-07-16T12:24:52.2793747' AS DateTime2), NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[TSegmentMaster] OFF
GO
/****** Object:  Index [UQ_TClientCOACompanyMapping]    Script Date: 9/16/2026 6:22:34 PM ******/
ALTER TABLE [dbo].[TClientCOACompanyMapping] ADD  CONSTRAINT [UQ_TClientCOACompanyMapping] UNIQUE NONCLUSTERED 
(
	[ClientCOAMappingID] ASC,
	[CompanyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TClientCOACompanyMapping_Client_COA_Mapping_ID]    Script Date: 9/16/2026 6:22:34 PM ******/
CREATE NONCLUSTERED INDEX [IX_TClientCOACompanyMapping_Client_COA_Mapping_ID] ON [dbo].[TClientCOACompanyMapping]
(
	[ClientCOAMappingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TClientCOACompanyMapping_CompanyId]    Script Date: 9/16/2026 6:22:34 PM ******/
CREATE NONCLUSTERED INDEX [IX_TClientCOACompanyMapping_CompanyId] ON [dbo].[TClientCOACompanyMapping]
(
	[CompanyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_T_Client_COA_Mapping]    Script Date: 9/16/2026 6:22:34 PM ******/
ALTER TABLE [dbo].[TClientCOAMapping] ADD  CONSTRAINT [UQ_T_Client_COA_Mapping] UNIQUE NONCLUSTERED 
(
	[COAID] ASC,
	[ClientID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_T_Client_COA_Mapping_Client_ID]    Script Date: 9/16/2026 6:22:34 PM ******/
CREATE NONCLUSTERED INDEX [IX_T_Client_COA_Mapping_Client_ID] ON [dbo].[TClientCOAMapping]
(
	[ClientID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_T_Client_COA_Mapping_COA_ID]    Script Date: 9/16/2026 6:22:34 PM ******/
CREATE NONCLUSTERED INDEX [IX_T_Client_COA_Mapping_COA_ID] ON [dbo].[TClientCOAMapping]
(
	[COAID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_T_COA_Master_Segment_Id]    Script Date: 9/16/2026 6:22:34 PM ******/
CREATE NONCLUSTERED INDEX [IX_T_COA_Master_Segment_Id] ON [dbo].[TCOAMaster]
(
	[SegmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_TPAI_ProcessStatus]    Script Date: 9/16/2026 6:22:34 PM ******/
ALTER TABLE [dbo].[TProcessingAdditionalInfo] ADD  CONSTRAINT [UQ_TPAI_ProcessStatus] UNIQUE NONCLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TPS_Company_Year]    Script Date: 9/16/2026 6:22:34 PM ******/
CREATE NONCLUSTERED INDEX [IX_TPS_Company_Year] ON [dbo].[TProcessStatus]
(
	[CompanyId] ASC,
	[ProcessYear] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TPS_ProcessingId]    Script Date: 9/16/2026 6:22:34 PM ******/
CREATE NONCLUSTERED INDEX [IX_TPS_ProcessingId] ON [dbo].[TProcessStatus]
(
	[ProcessingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_TSegmentFileTypeMapping_Segment_FileType]    Script Date: 9/16/2026 6:22:34 PM ******/
ALTER TABLE [dbo].[TSegmentFileTypeMapping] ADD  CONSTRAINT [UQ_TSegmentFileTypeMapping_Segment_FileType] UNIQUE NONCLUSTERED 
(
	[SegmentId] ASC,
	[FileTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TSegmentFileTypeMapping_Segment]    Script Date: 9/16/2026 6:22:34 PM ******/
CREATE NONCLUSTERED INDEX [IX_TSegmentFileTypeMapping_Segment] ON [dbo].[TSegmentFileTypeMapping]
(
	[SegmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TClientCOACompanyMapping] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[TClientCOAMapping] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[TCOAMaster] ADD  DEFAULT ((0)) FOR [IsMatric]
GO
ALTER TABLE [dbo].[TCOAMaster] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[TCompanyMaster] ADD  CONSTRAINT [DF__TCompanyM__Creat__0E6E26BF]  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[TCompanyMaster] ADD  CONSTRAINT [DF__TCompanyM__IsAct__0F624AF8]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[TFileType] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[TFileType] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[TJob] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[TJob] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[TModuleMaster] ADD  DEFAULT ((0)) FOR [Sourcing]
GO
ALTER TABLE [dbo].[TModuleMaster] ADD  DEFAULT ((0)) FOR [SourcingValidation]
GO
ALTER TABLE [dbo].[TModuleMaster] ADD  DEFAULT ((0)) FOR [Extraction]
GO
ALTER TABLE [dbo].[TModuleMaster] ADD  DEFAULT ((0)) FOR [ExtractionValidation]
GO
ALTER TABLE [dbo].[TModuleMaster] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[TModuleMaster] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[TProcessingAdditionalInfo] ADD  CONSTRAINT [DF_TPAI_CreatedOn]  DEFAULT (sysutcdatetime()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[TProcessingAdditionalInfo] ADD  CONSTRAINT [DF_TPAI_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[TProcessStatus] ADD  CONSTRAINT [DF_TPS_CreatedOn]  DEFAULT (sysutcdatetime()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[TProcessStatus] ADD  CONSTRAINT [DF_TPS_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[TSegmentFileTypeMapping] ADD  CONSTRAINT [DF_TSegmentFileTypeMapping_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[TSegmentMaster] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[TClientCOACompanyMapping]  WITH CHECK ADD  CONSTRAINT [FK_TClientCOACompanyMapping_ClientCOAMapping] FOREIGN KEY([ClientCOAMappingID])
REFERENCES [dbo].[TClientCOAMapping] ([ClientCOAMappingID])
GO
ALTER TABLE [dbo].[TClientCOACompanyMapping] CHECK CONSTRAINT [FK_TClientCOACompanyMapping_ClientCOAMapping]
GO
ALTER TABLE [dbo].[TClientCOACompanyMapping]  WITH CHECK ADD  CONSTRAINT [FK_TClientCOACompanyMapping_Company] FOREIGN KEY([CompanyId])
REFERENCES [dbo].[TCompanyMaster] ([CompanyId])
GO
ALTER TABLE [dbo].[TClientCOACompanyMapping] CHECK CONSTRAINT [FK_TClientCOACompanyMapping_Company]
GO
ALTER TABLE [dbo].[TClientCOAMapping]  WITH CHECK ADD  CONSTRAINT [FK_T_Client_COA_Mapping_Client] FOREIGN KEY([ClientID])
REFERENCES [dbo].[TClientMaster] ([ClientId])
GO
ALTER TABLE [dbo].[TClientCOAMapping] CHECK CONSTRAINT [FK_T_Client_COA_Mapping_Client]
GO
ALTER TABLE [dbo].[TClientCOAMapping]  WITH CHECK ADD  CONSTRAINT [FK_T_Client_COA_Mapping_COA] FOREIGN KEY([COAID])
REFERENCES [dbo].[TCOAMaster] ([COAID])
GO
ALTER TABLE [dbo].[TClientCOAMapping] CHECK CONSTRAINT [FK_T_Client_COA_Mapping_COA]
GO
ALTER TABLE [dbo].[TCOAMaster]  WITH CHECK ADD  CONSTRAINT [FK_T_COA_Master_T_Segment_Master] FOREIGN KEY([SegmentId])
REFERENCES [dbo].[TSegmentMaster] ([SegmentId])
GO
ALTER TABLE [dbo].[TCOAMaster] CHECK CONSTRAINT [FK_T_COA_Master_T_Segment_Master]
GO
ALTER TABLE [dbo].[TJob]  WITH CHECK ADD  CONSTRAINT [FK_Job_Module] FOREIGN KEY([ModuleId])
REFERENCES [dbo].[TModuleMaster] ([ModuleId])
GO
ALTER TABLE [dbo].[TJob] CHECK CONSTRAINT [FK_Job_Module]
GO
ALTER TABLE [dbo].[TLoginMaster]  WITH CHECK ADD  CONSTRAINT [FK_TLoginMaster_TClientMaster_ClientId] FOREIGN KEY([ClientId])
REFERENCES [dbo].[TClientMaster] ([ClientId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TLoginMaster] CHECK CONSTRAINT [FK_TLoginMaster_TClientMaster_ClientId]
GO
ALTER TABLE [dbo].[TProcessingAdditionalInfo]  WITH CHECK ADD  CONSTRAINT [FK_TPAI_ProcessStatus] FOREIGN KEY([ID])
REFERENCES [dbo].[TProcessStatus] ([ID])
GO
ALTER TABLE [dbo].[TProcessingAdditionalInfo] CHECK CONSTRAINT [FK_TPAI_ProcessStatus]
GO
ALTER TABLE [dbo].[TRoleMaster]  WITH CHECK ADD  CONSTRAINT [FK_TRoleMaster_TClientMaster_ClientId] FOREIGN KEY([ClientId])
REFERENCES [dbo].[TClientMaster] ([ClientId])
GO
ALTER TABLE [dbo].[TRoleMaster] CHECK CONSTRAINT [FK_TRoleMaster_TClientMaster_ClientId]
GO
ALTER TABLE [dbo].[TRoleMenuMapping]  WITH CHECK ADD  CONSTRAINT [FK_TRoleMenuMapping_TMenuMaster_MenuId] FOREIGN KEY([MenuId])
REFERENCES [dbo].[TMenuMaster] ([MenuId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TRoleMenuMapping] CHECK CONSTRAINT [FK_TRoleMenuMapping_TMenuMaster_MenuId]
GO
ALTER TABLE [dbo].[TRoleMenuMapping]  WITH CHECK ADD  CONSTRAINT [FK_TRoleMenuMapping_TRoleMaster_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[TRoleMaster] ([RoleId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TRoleMenuMapping] CHECK CONSTRAINT [FK_TRoleMenuMapping_TRoleMaster_RoleId]
GO
ALTER TABLE [dbo].[TSegmentFileTypeMapping]  WITH CHECK ADD  CONSTRAINT [FK_TSegmentFileTypeMapping_FileType] FOREIGN KEY([FileTypeId])
REFERENCES [dbo].[TFileType] ([FileTypeId])
GO
ALTER TABLE [dbo].[TSegmentFileTypeMapping] CHECK CONSTRAINT [FK_TSegmentFileTypeMapping_FileType]
GO
ALTER TABLE [dbo].[TSegmentFileTypeMapping]  WITH CHECK ADD  CONSTRAINT [FK_TSegmentFileTypeMapping_Segment] FOREIGN KEY([SegmentId])
REFERENCES [dbo].[TSegmentMaster] ([SegmentId])
GO
ALTER TABLE [dbo].[TSegmentFileTypeMapping] CHECK CONSTRAINT [FK_TSegmentFileTypeMapping_Segment]
GO
ALTER TABLE [dbo].[TSegmentMaster]  WITH CHECK ADD  CONSTRAINT [FK_TSegmentMasterModule] FOREIGN KEY([ModuleId])
REFERENCES [dbo].[TModuleMaster] ([ModuleId])
GO
ALTER TABLE [dbo].[TSegmentMaster] CHECK CONSTRAINT [FK_TSegmentMasterModule]
GO
ALTER TABLE [dbo].[TJob]  WITH CHECK ADD  CONSTRAINT [CHK_JobFlag] CHECK  (([JobFlag]='c' OR [JobFlag]='s' OR [JobFlag]='p'))
GO
ALTER TABLE [dbo].[TJob] CHECK CONSTRAINT [CHK_JobFlag]
GO
USE [master]
GO
